html,
body {
    margin: 0;
    padding: 0;
    background: url('bac1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#sidea {
    text-decoration: none;
    display: block;
}

#lists:hover {
    background-color: whitesmoke;
}

#menu {
    text-decoration: none;
    display: block;
}

#menu:hover {
    background-color: whitesmoke;
}

#toptital {
    padding-top: 10%;
}

#title-word {
    text-align: center;
    color: lightcoral;
}

#menu2 {
    padding-left: 10%;
    background-color: azure;
}

#menu2:hover {
    background-color: honeydew;
}


.upload-file {
    width: 200px;
    height: 200px;
    border: 1px dashed #8590a6;
    margin-top: 16px;
}
.upload-file input {
    width: 200px;
    height: 200px;
}

#picture_div{
	margin-top: 16px;
	width: 440px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
  
.picture-video{
 	display: block;
 	margin: 0 auto;
}
.picture-canvas{
	 position: absolute;
	 top: 0px;
	 left: 50%;
	 width: 360px;
	 height: 360px;
	 transform: translate(-50%,0);
	 cursor: pointer;
	 z-index: 101;
	 display: inline-block;
}
#headSculpture{
	 position: absolute;
	 z-index: 100;
	 top: 50%;
	 left: 50%;
	 width: 220px;
	 transform: translate(-50%,-50%);
	 vertical-align: middle;
}
#snap{
	 background: #1E9FFF;
	 display: inline-block;
	 height: 38px;
	 line-height: 38px;
	 padding: 0 18px;
	 color: #ffffff;
	 text-align: center;
	 font-size: 14px;
	 border: 0;
	 border-radius: 2px;
	 cursor: pointer;
	 margin-top: 10px;
}
